@import "tailwindcss";
@import "tailwindcss/preflight.css";
@tailwind utilities;



#navbar {
  background-color: #15365F;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}