@import "tailwindcss";
@import "tailwindcss/preflight.css";
@tailwind utilities;

#nav {
  padding-top: 2%;
  padding-left: 10%;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}
